$reddish: #cc0000;

h2 {

    color: blue;
    text-align: center;
}

#whatdoyouthink {

/*  color : #3333ff; */
  font-weight: bold;
}

#intro, #bottons, #taskslist {
  margin: 40px;
}

#intro, #table {
    p {
        font-size: 140%;
        font-style: italic;
      }
}
#bottons  {

  color: MediumSeaGreen;
/*  font-size: 120%;*/
}
p.start {
  font-weight: bold;
}
#taskslist > * {
  color:  Tomato;
/*  border: 1px solid black;*/
  /*align-content:flex-end;*/
  text-align:left;
  flex-basis: auto;
  font-size: 120%;

}
#g_info, #interests, #objective, #edu_title, #prof_1, #pers, #exp, #langs {
  font-weight: bold;
}
#tech {
  @extend #g_info;  
  font-size: 120%;
}
#letter_body {

  margin: 20px;
}
.taskline {
  align-content: center;
}


table {
  border-collapse: collapse;

}
.images > img:hover {
  width: 500px;
  height: auto;
}
table, th, td {
  border: 1px solid black;
}

/* For desktop:
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
*/
@media only screen and (max-width: 768px) {
  background-color: black;
  /* For mobile phones:
  [class*="col-"] {
    width: 100%;*/
  }


@media print  {
  .footer {
     display: none;
   }
}

html, body {
    height: 100%;
}
body {
    margin:0px;
    padding: 0px;
}
.wrap {
    height: auto;
    margin: 0 auto -80px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 80px; /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}
.footer {
    background-color: $reddish;
    color: white;
    height: 70px;  /* footer height */
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    width: 100%;
}
